<div class="container">
    <div class="row">
        <!-- Left Side -->
        <div class="col">
            <li>
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="/assets/images/arya_5_free_courses_ai_chatgpt_t.png"  class="img-fluid rounded-start courseImg" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body p-3">
                          <h4 class="card-title m-0 fw-bold">Course Name</h4>
                          <h5 class="card-text">John Doe</h5>
                          <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar"
                            aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%"> 
                              70% completed
                            </div>
                          </div>
                          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                          <br>                      
                          <a routerLink="/overview" routerLinkActive="mat-accent" class="btn btn-enroll">Enroll</a>
      
                        </div>
                      </div>
                    </div>
                  </div>
            </li>
        </div>
        <!-- Right Side -->
        <div class="col"></div>
    </div>
</div>