<div class="sidebar">
  <div class="mattoolBarButton py-1 px-1 mx-2">
      <img routerLink="Home" class="sideicon" src="../favicon.ico" alt="" srcset="">
  </div>
  <div class="mattoolBarButton py-1 px-1 mx-2">
      <button
      mat-icon-button color='accent' 
      routerLinkActive="mat-accent"
      routerLink="Home"
      class="ico-holder "
      >
          <mat-icon
      class="icon-size d-flex align-items-center"
      >home</mat-icon> 
        </button>
        <br><p>Home</p>
  
  </div>
  <div class="mattoolBarButton py-1 px-1 mx-2">
      <button 
      mat-icon-button color="basic" 
      routerLinkActive="mat-accent"
      routerLink="Courses"
      class="ico-holder  "
      
       id="courses">
       <mat-icon
      class="icon-size"
      >play_circle_filled</mat-icon>
      </button>
      <br><p>courses</p>
  </div>
  <div class="mattoolBarButton py-1 px-1 mx-2">
      <button 
      mat-icon-button color="basic" 
      routerLinkActive="mat-accent"
      routerLink="home"
      class="ico-holder  "
       id="courses">
       <mat-icon
      class="icon-size"
      >bookmark</mat-icon>
      </button>
      <p>Saved</p>
  </div>
  <div class="mattoolBarButton py-1 px-1 mx-2">
      <button 
      mat-icon-button color="basic" 
      routerLinkActive="mat-accent"
      routerLink="home"
      class="ico-holder "
       id="courses">
       <mat-icon 
      class="icon-size"
      > business</mat-icon>
      </button>
      <p>Internship</p>
  </div>
  <!-- Avatar And Select-->
  <button mat-button [matMenuTriggerFor]="aboveMenu"><a
    class="nav-link dropdown-toggle d-flex align-items-center"
    
    id="navbarDropdownMenuLink"
    role="button"
    mdbDropdownToggle
    aria-expanded="false"
  >
    <img
      src="https://mdbootstrap.com/img/Photos/Avatars/img (31).webp"
      class="rounded-circle"
      height="22"
      alt=""
      loading="lazy"
    />
  </a></button>
<mat-menu #aboveMenu="matMenu" yPosition="above">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

  
  
  
</div>