<section>
    <div class="container row">
      <div class="col firstcol">
        <section>
          <div class="video">
            <video
              width="90%"
              height="300px"
              src="assets/videos/course video.mp4"
              typeof="video/mp4"
              controls
            ></video>
          </div>
          <div class="text">
            <h2>Fundamentals of Operating Systems</h2>
            <div class="profile">
              <img
                style="width: 45px; height: 45px"
                src="assets/imgs/instructor.png"
                alt="instructor image"
              />
              <p>Hussein Nasser</p>
            </div>
            <div class="data">
              <i class="fa-regular fa-clock"></i>
              <p>Duration: 20h 13m</p>
              <i class="fa-solid fa-star"></i>
              <p>Rating: 4.5/5.0</p>
            </div>
            <h2>Course Description</h2>
            <p>
              Delve into the intricacies of operating systems to enhance
              <br />
              programming efficiency in this comprehensive course, covering
              <br />
              Linux, Windows, and Mac environments. Gain invaluable insights
              <br />
              to demystify OS fundamentals and optimize code performance.
            </p>
            <div class="btn">
              <button type="submit">Buy Now</button>
            </div>
          </div>
        </section>
      </div>
  <!-- overview -->
      <div class="col">
        <div class="title">
          <h1>Course Overview</h1>
        </div>
  
        <div class="Description">
          <div class="section">
            <ol type="1">
              <div class="sectionTitle" style="cursor: pointer">
                <i
                  style="font-size: 25px; cursor: pointer; color: #0fc2bc"
                  class="fa-solid fa-circle-chevron-right arrow"
                ></i>
                <mat-icon appNext>keyboard_arrow_right</mat-icon>
                <h3>The Anatomy of a Process</h3>
              </div>
              <div class="lessons">
                <br />
                <li>Simple Process Execution.</li>
                <p>Duration: 2h 30m.</p>
                <br />
                <li>The Stack.</li>
                <p>Duration: 2h 30m.</p>
                <br />
                <li>Process Execution with Stack .</li>
                <p>Duration: 2h 30m.</p>
                <br />
                <li>Process Section Demo .</li>
                <p>Duration: 2h 30m.</p>
              </div>
            </ol>
          </div>
          <div class="section">
            <ol type="1">
              <div class="sectionTitle" style="cursor: pointer">
                <i
                  style="font-size: 25px; cursor: pointer; color: #0fc2bc"
                  class="fa-solid fa-circle-chevron-right arrow"
                ></i>
                <h3>Memory Managment</h3>
              </div>
              <div class="lessons">
                <br />
                <li>Memory Management Section Intro .</li>
                <p>Duration: 2h 30m.</p>
                <br />
                <li>Virtual Memory .</li>
                <p>Duration: 2h 30m.</p>
              </div>
            </ol>
          </div>
          <div class="section">
            <ol type="1">
              <div class="sectionTitle" style="cursor: pointer">
                <i
                  style="font-size: 25px; cursor: pointer; color: #0fc2bc"
                  class="fa-solid fa-circle-chevron-right arrow"
                ></i>
                <h3>Inside The CPU</h3>
              </div>
              <div class="lessons">
                <br />
                <li>CPU Components and Architecture .</li>
                <p>Duration: 2h 30m.</p>
                <br />
                <li>Instruction Life Cycle .</li>
                <p>Duration: 2h 30m.</p>
              </div>
            </ol>
          </div>
          <div class="section">
            <ol type="1">
              <div class="sectionTitle" style="cursor: pointer">
                <i
                  style="font-size: 25px; cursor: pointer; color: #0fc2bc"
                  class="fa-solid fa-circle-chevron-right arrow"
                ></i>
                <h3>Storage Managment</h3>
              </div>
              <div class="lessons">
                <br />
                <li>Persistent Storage.</li>
                <p>Duration: 2h 30m.</p>
                <br />
                <li>File Systems .</li>
                <p>Duration: 2h 30m.</p>
                <br />
                <li>Storage management Demo .</li>
                <p>Duration: 2h 30m.</p>
              </div>
            </ol>
          </div>
          <div class="section">
            <ol type="1">
              <div class="sectionTitle" style="cursor: pointer">
                <i
                  style="font-size: 25px; cursor: pointer; color: #0fc2bc"
                  class="fa-solid fa-circle-chevron-right arrow"
                ></i>
                <h3>More OS Concepts</h3>
              </div>
              <div class="lessons">
                <br />
                <li>OS Concepts Section Intro .</li>
                <p>Duration: 2h 30m.</p>
                <br />
                <li>Compilers and Linkers .</li>
                <p>Duration: 2h 30m.</p>
                <br />
                <li>Virtualization and Containerization .</li>
                <p>Duration: 2h 30m.</p>
              </div>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>
  